name: Android publish internal
on: 
  workflow_dispatch:
  push:
    branches:
      master
jobs:
  build_bundle:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
      - name: Install npm dependencies
        run: |
          npm install
      - name: Bundle Install
        run: |
          cd android
          bundle install
      - name: Get .env
        env:
          run_id: ${{github.run_number}}
        run: |
          cd android
          echo "${{ secrets.FASTLANE_ENV }}" > fastlane/.env
          echo "${{ secrets.ENCRYPTED_KEYSTORE }}" > keystore.asc
          gpg -d --passphrase "${{ secrets.ENCRYPTED_KEYSTORE_PASS }}" --batch keystore.asc > keystorePersonal.jks
          cd app
          gpg -d --passphrase "${{ secrets.ENCRYPTED_KEYSTORE_PASS }}" --batch ../keystore.asc > keystorePersonal.jks
          cd ../fastlane
          gpg -d --passphrase "${{ secrets.ENCRYPTED_KEYSTORE_PASS }}" --batch ../keystore.asc > keystorePersonal.jks
          mkdir metadata
          echo $(($run_id+20)) > metadata/versionCode
      - name: FastLane Build bundle
        run: |
          cd android
          bundle exec fastlane buildRelease
      - name: Remove .env
        if: always()
        run: | 
          cd android
          rm -f fastlane/.env
          rm -f fastlane/keystorePersonal.jks
          rm -f keystore.asc
          rm -f app/keystorePersonal.jks
          rm -f keystorePersonal.jks
          rm -r fastlane/metadata
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: app-release.aab
          path: android/app/build/outputs/bundle/release/
  publish_internal:
    needs: build_bundle
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
      - uses: actions/download-artifact@v2
        with:
          name: app-release.aab
          path: android/app/build/outputs/bundle/release/
      - name: Bundle Install
        run: |
          cd android
          bundle install
      - name: Get google api key
        env:
          google_key: ${{ secrets.GOOGLE_API_JSON }}
        run: |
          cd android
          echo $google_key > google_key.json
      - name: Fastlane upload to Internal track
        run: |
          cd android
          bundle exec fastlane internal
      - name: Remove google api key
        if: always()
        run: | 
          cd android
          rm -f google_key.json
  publish_alpha:
    needs: [build_bundle, publish_internal]
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
      - name: Bundle Install
        run: |
          cd android
          bundle install
      - name: Get google api key
        env:
          google_key: ${{ secrets.GOOGLE_API_JSON }}
        run: |
          cd android
          echo $google_key > google_key.json
      - name: Fastlane upload to Internal track
        run: |
          cd android
          bundle exec fastlane alpha
      - name: Remove google api key
        if: always()
        run: | 
          cd android
          rm -f google_key.json
  publish_alpha:
    needs: [publish_alpha]
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
      - name: Bundle Install
        run: |
          cd android
          bundle install
      - name: Get google api key
        env:
          google_key: ${{ secrets.GOOGLE_API_JSON }}
        run: |
          cd android
          echo $google_key > google_key.json
      - name: Fastlane upload to Internal track
        run: |
          cd android
          bundle exec fastlane beta
      - name: Remove google api key
        if: always()
        run: | 
          cd android
          rm -f google_key.json
