name: react-native-android-build-apk
on: workflow_dispatch
jobs:
  build-bundle:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
      - name: Install npm dependencies
        run: |
          npm install
      - name: Bundle Install
        run: |
          cd android
          bundle install
      - name: FastLane Build bundle
        run: |
          cd android
          export VERSION_CODE=(${{enev.GITHUB_RUN_ID}}+16) && echo code is : $VERSION_CODE
          export VERSION_SHA=(${{enev.GITHUB_RUN_ID}}+16) && echo sha is : $VERSION_SHA
          bundle exec fastlane buildRelease
      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: app-release.aab
          path: android/app/build/outputs/bundle/release/

    
