name: android-build-bundle-internal
on: workflow_dispatch
jobs:
  Build-and-upload-bundle-internal:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
      - name: Install npm dependencies
        run: |
          npm install
      - name: Bundle Install
        run: |
          cd android
          bundle install
      - name: Generate version numbers
        env:
          run_id: ${{github.run_number}}
        run: |
          export VERSION_CODE=$(($run_id+20)) && echo code is : $VERSION_CODE
          export VERSION_SHA=$(($run_id+20)) && echo sha is : $VERSION_SHA
      - name: FastLane Build bundle
        run: |
          cd android
          bundle exec fastlane buildRelease
      - name: Fastlane Upload to Internal track
        env:
          google_key: ${{ secrets.GOOGLE_API_JSON }}
        run: |
          cd android
          echo $google_key > google_key.json
          echo ${{ secrets.ENCRYPTED_KEYSTORE }} > keystore.asc
          gpg -d --passphrase "${{ secrets.ENCRYPTED_KEYSTORE_PASS }}" --batch keystore.asc > keystorePersonal.jks
          bundle exec fastlane internal
          rm -f google_key.json
          rm -f keystore.asc
          rm -f keystorePersonal.jks
      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: app-release.aab
          path: android/app/build/outputs/bundle/release/

    
