name: react-native-android-build-apk
on: workflow_dispatch
jobs:
  build-bundle:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
#       - name: Install npm dependencies
#         run: |
#           npm install
#       - name: Bundle Install
#         run: |
#           cd android
#           bundle install
      - name: Generate version numbers
        env:
          run_id: ${{github.run_number}}
        run: |
          echo ::set-env name=GITHUB_RUN_NUMBER_WITH_OFFSET::$(($run_id+20))
          export VERSION_CODE=$GITHUB_RUN_NUMBER_WITH_OFFSET && echo code is : $VERSION_CODE
          export VERSION_SHA=$GITHUB_RUN_NUMBER_WITH_OFFSET && echo sha is : $VERSION_SHA
#       - name: FastLane Build bundle
#         run: |
#           cd android
#           bundle exec fastlane buildRelease
#       - name: Upload Artifact
#         uses: actions/upload-artifact@v1
#         with:
#           name: app-release.aab
#           path: android/app/build/outputs/bundle/release/

    
