name: react-native-android-build-apk
on: workflow_dispatch
jobs:
  install-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install npm dependencies
        run: |
          npm install
  build-bundle:
    needs: install-and-test
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - name: Bundle Install
        run: |
          cd android
          bundle install
      - name: FastLane Build bundle
        run: |
          bundle exec fastlane buildRelease
          cd ..
      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: app-release.aab
          path: android/app/build/outputs/bundle/release/

    
